{% extends "admin/base.html" %}

{% block title %}Claim List{% endblock %}

{% block content %}
<p>Current claims on open report for {{ report_first_last_name }}:</p>
    {% for claim in report_claims %}
    <p> <a href="{% url 'update_claim' claim.pk %}">{{ claim.service_description }}</a> <form action="{% url 'delete_claim' claim.pk %}">
                    <input type="submit" {vertical-align: top;} value="Delete" />
                    </form></p>
    <br />
{% endfor %}
<a href="{% url 'complete_claim_form' profile_slug %}">Add Claim</a>
<br />
<a href="{% url 'pdf_report' profile_slug %}">View Report Details</a>
{% endblock %}