{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if request.user.insuredprofile.profile_complete %}
        <p>Welcome, {{ request.user.insuredprofile.first_name}}.</p>
        <h3>Please choose one of the following options:</h3>
        <a href="{% url 'update_profile_form' %}">Update Insured Profile</a>
        <br />
        <a href="{% url 'update_profile_form' %}">Update Dependent Profile</a>
        <br />
        <a href="{% url 'update_profile_form' %}">Add Dependent</a>
        <br />
        <a href="{% url 'update_profile_form' %}">File Claim</a>
        <br />
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>Welcome, {{ request.user.get_username }}. Thanks for logging in.</p>
        <h3>Please complete your profile before filing a claim.</h3>
        <a href="{% url 'update_profile_form' %}">Complete Profile</a>
        <br />
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
{% endblock %}

