{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if request.user.insuredprofile.profile_complete %}
        <p>Welcome, {{ request.user.insuredprofile.first_name}}</p>
        <h3>Please choose one of the following options:</h3>
        <a href="{% url 'update_profile_form' request.user.insuredprofile.pk %}">Update Insured Profile</a>
        <br />
        {% if request.user.dependents.all %}
        <h4>Update Dependent Profile for:</h4>
            {% for dependent in request.user.dependents.all %}        
            <a href="{% url 'update_dependent_profile' dependent.pk %}">{{ dependent.first_name }}</a>
            {% endfor %}
            <br />
        {% endif %}
        <a href="{% url 'complete_dependent_profile_form' %}">Add Dependent</a>
        <br />
        <h4>Create Claim Report for:</h4>
        <a href="{% url 'report_created' request.user.insuredprofile.profile_slug %}">{{ request.user.insuredprofile.first_name }}</a>
        {% if request.user.dependents %}
            {% for dependent in request.user.dependents.all %}        
            <a href="{% url 'report_created' dependent.profile_slug %}">{{ dependent.first_name }}</a>
            {% endfor %}
        {% endif %}
        <br />
        {% if open_user_reports_patient_slugs %}
        <h4>Continue Claim Report for:</h4>
            {% for patient_slug in open_user_reports_patient_slugs %}        
            <a href="{% url 'claim_list' patient_slug %}">{{ patient_slug }}</a>
            {% endfor %}
        {% endif %}
        <br />
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>Welcome, {{ request.user.get_username }}. Thanks for logging in.</p>
        <h3>Please complete your profile before filing a claim.</h3>
        <a href="{% url 'update_profile_form' request.user.insuredprofile.pk %}">Complete Profile</a>
        <br />
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}

{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
{% endblock %}

